<header>
    <nav>
        <a class="logo" href="./">
            <img src="/assets/iconSite.svg" alt="Logo de la empresa">
            <span class="titleSite">e-Tech</span>
        </a>
        <a class="cart" id="cartBtn">
            <img src="/assets/cart.svg" alt="Icono representativo del carrito de compras">
            <span>{{#if cantCart}}{{cantCart}}{{/if}}</span>
        </a>
    </nav>
</header>
<main>
    <section class="list-container">
        {{#each products}}
            <article class="pr-container">
                <div class="pr-img">
                    <img src={{this.thumbnails}}  alt="Imagen representativa del producto: {{this.title}}">
                </div>
                    
                <h3 class="pr-name">{{this.title}}</h3>
                <p>{{this.description}}</p>

                <a href="./product/{{this._id}}" class="pr-info">More info</a>
                <span class="pr-stock">Stock: {{this.stock}}</span>
            </article>
        {{/each}}
    </section>
</main>

<script src="/js/cart.js"></script>